<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/models/bookModel.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<h1>LIST OF BOOKS</h1>
<hr>
<div class="container">
<script type="text/template" id="book-details">
    <p>Name: <%= name %></p>
    <p>Author: <%= author %></p>
    <p>ISBN: <%= isbn %></p>
</script>
</div>
<!--<script src="js/utils.js"></script>-->
<script src="js/models/bookModel.js"></script>
<script src="js/views/bookdetails.js"></script>
<!--<script src="js/main.js"></script>-->
</body>
</body>
</html>